.packageFirstContainer {
  background-image: url("../../../Assets/ourpackageBg.png");
  width: 90%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  height: 40rem;
  position: relative;
  margin-top: 2rem;
}

.packageFirstUpperSection {
  transform: translateY(0px);
  margin-left: 3rem;
  padding-top: 4rem;
}

.packageFirstTitle {
  text-align: left;
  width: 40%;
}

.packageTitle {
  width: 40%;
}
