.packageFirstContainer {
  /* background-image: url("../../../Assets/ourpackageBg.png"); */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  position: relative;
  margin-top: -9rem;
}

.packageFirstUpperSection {
  transform: translateY(0px);
  margin-left: 3rem;
  padding-top: 4rem;
}

.packageFirstTitle {
  text-align: left;
  width: 40%;
}

.packageTitle {
  width: 40%;
}
