.packageContainer{
    background-image: url('../../../Assets/ourpackageBg.png');
    width: 90%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    height: 40rem;
    position: relative;
    margin-top: 2rem;
}

.packageUpperSection{
    transform: translateY(0px) !important;
    text-align: left;
    margin-left: 2rem;
}

.packageTitle{
    width: 40%;
}