.long-heading{
    width: 22rem !important;
    margin: auto !important;
    justify-content: center !important;
}

.hc-title{
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.indexHeadline{
    width: 50%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    font-size: 1.3rem;
}

.sampleCollectionContainer{
    display: flex;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    margin-top: 6rem;
    margin-bottom: -7rem;
}

.curvePng{
    width: 70%;
    /* transform: translateX(-40px); */
    opacity: 0.15;
    margin: auto;
}

.sampleCollectionLowerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem 8rem;
}


.processTextArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50rem;
    /* padding: 2rem; */
}

.processTextArea h3{
    margin: 0;
}

.processTextArea p{
    font-size: 13px;
    color: #727272;
}

.indexing{
    width: 6rem;
    height: 6rem;
    background-color: #0CA798;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-weight: 400;
}

.firstTextArea{
    transform: translate(0px, -164px);
}

.secondTextArea{
    transform: translate(0px, -130px);
}

.thirdTextArea{
    transform: translate(0px, -111px);
}

.fourthTextArea{
    transform: translate(0px, -205px);
}