.whscContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  gap: 3rem;
  margin-top: 6rem;
  position: relative;
}

.whscMiddleText p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.whscLowerText li {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.whscLeftSection {
  position: relative;
  width: 60%;
}

.whscRightSection {
  position: relative;
  margin-left: 4rem;
}

.whsc-title {
  width: 60%;
}

.whscLowerText {
  margin-top: 4rem;
  transform: translateX(-25px);
}

@media (max-width: 768px) {
  .whscContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 3rem;
  }
  .whscLowerText li {
    margin-top: 0.5rem;
  }

  .whscLeftSection,
  .whscRightSection {
    width: 100%;
    margin-left: 0;
  }

  .whsc-title {
    width: 100%;
    font-size: 1.3rem;
  }

  .whscLowerText {
    margin-top: 2rem;
    transform: translateX(0);
  }
}
