.report-form-container {
  width: 75%;
  /* max-width: 1200px; */
  margin: auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  box-sizing: border-box;
  transform: translateY(-90px);
}

.form-heading {
  font-weight: 600;
  margin-bottom: 1rem;
}

.mobile-section {
  display: flex;
  gap: 10px;
  align-items: center;
  /* margin-bottom: 1.2rem; */
}

.input-field {
  flex: 1;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f6f6f6;
  font-size: 1rem;
  outline: none;
  margin: 0.5rem 0rem;
}

.send-otp-btn {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0 !important;
}

.send-otp-btn.rbdButton::after{
  border-radius: 6px;
}
.FormDivider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.leftDivider {
  width: 48%;
  height: 1px;
  background-color: #ccc;
}
.rightDivider {
  width: 48%;
  height: 1px;
  background-color: #ccc;
}

.credentials-section {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.download-btn {
  width: 15rem;
  padding: 0.9rem;
  margin-top: 0 !important;
  border: none;
  border-radius: 6px;
  /* cursor: pointer; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}

.download-btn.rbdButton::after{
  border-radius: 6px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 50%;
}

.input-wrapper label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
  color: #333;
}





.otp-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.otp-modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.otp-modal-content h4 {
  margin-bottom: 1rem;
  color: #00b4aa;
}

.otp-modal-content .input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.otp-modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
