.consult-section {
  margin-right: 3rem;
  margin-left: 3rem;
  height: 15rem;
  background-color: red;
  border-radius: 60px;
  position: relative;
  top: 50px;
  background-image: linear-gradient(to right, #5cd2fb, #cae5df, #8ee8e1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  font-family: "Segoe UI", sans-serif;
}

.consult-image {
  transform: translateX(5px);
}

.consult-image img {
  width: 25rem;
  transform: translateY(-22px);
}

.consult-text {
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.consult-text h2 {
  font-size: 2.5rem;
  margin-bottom: -0.5rem;
}

.consult-text p {
  font-size: 1rem;
  color: #444;
  max-width: 500px;
}
.consult-text h4 {
  font-size: 1.5rem;
  line-height: 0px;
}

.subText p {
  line-height: 5px;
}

.consult-button {
  transform: translate(-180px, 80px);
}

.consult-button button {
  /* background-color: #0fb7a4; */
  /* color: white; */
  /* border: none; */
  /* padding: 1rem 0.5rem; */
  /* border-radius: 15px; */
  /* font-size: 1rem; */
  /* font-weight: 100; */
  /* cursor: pointer; */
  /* transition: background-color 0.3s ease; */
  width: 12rem;
}

.subText p {
  line-height: 0px;
}

/* .consult-button button:hover {
  background-color: #0a8e7f;
} */

@media (max-width: 768px) {
  .consult-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 1rem;
    padding: 2rem 1rem;
    border-radius: 30px;
    gap: 1rem;
    top: 80px;
    height: 30rem;
  }

  .consult-text {
    width: 100%;
    padding: 0;
    text-align: center;
    transform: translateY(-100px);
  }

  .consult-text h2 {
    font-size: 2rem;
    margin: 0;
  }

  .consult-text h4 {
    font-size: 1.2rem;
  }

  .consult-text p {
    font-size: 0.95rem;
  }

  .consult-button {
    /* transform: none; */
    margin-top: 1rem;
    transform: translateY(-115px);
  }

  .consult-button button {
    width: 100%;
    /* max-width: 250px; */
    padding: 0.75rem 1rem;
  }

  .consult-image img {
    transform: translate(-7px, -85px);
    width: 17rem;
  }
}
