.rb-headingTag {
  width: 10rem !important;
  margin-top: 1.5rem;
}

.corporateContainer {
  background-image: url("../../../Assets/corporateWell.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 6rem;
  max-height: 27rem;
}

.headLineText {
  width: 60%;
}

.rb-title {
  margin-bottom: 2rem !important;
}

.buttomText {
  font-size: 30px;
  font-weight: 400;
  background-color: white;
  padding: 3px;
}

.companyCard {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.slick-list {
  padding: 0rem !important;
}

.slick-track {
  width: 100%;
}
.companyCard:hover {
  transform: scale(1.05);
}

.companyCard img {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  border-radius: 8px;
}

.companyCard img:hover {
  transform: scale(1.05);
}

.moreBtn {
  padding: 8px 24px;
  background-color: #0ca798 !important;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 6rem;
  transition: background-color 0.3s ease;
}

.moreBtn:hover {
  background-color: #0bc0ad !important;
}

.companiesSection {
  display: flex;
  align-items: center;
  width: 50%;
}

.sliderWrapper {
  width: 70%;
  margin-bottom: 1rem;
  overflow: hidden;
}

.companyCard {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.companyCard img {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  border-radius: 8px;
}

.companyCard:hover img {
  transform: scale(1.05);
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: auto !important;
  margin: auto;
}

/* .moreBtn {
  padding: 8px 24px;
  background-color: #0ca798;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.moreBtn:hover {
  background-color: #0bc0ad;
}

@media (max-width: 768px) {
  .corporateContainer {
    max-height: 22rem;
  }

  .sliderWrapper {
    width: 100%;
  }

  .companyCard img {
    width: 4rem;
    height: 4rem;
  }

  

  .moreBtn:hover {
    background-color: #0bc0ad;
  }

  .companiesSection {
    width: 100%;
    height: 4rem;
  }

  .buttomText {
    font-size: 1.5rem;
  }

  .corporateHeadLineText {
    width: 100%;
  }
  .corporateHeadLineText h2 {
    font-size: 1.5rem;
    text-align: left;
  }
  .corporateContainer {
    padding: 2rem;
  }

  .companyCard {
    width: 100px;
    height: 70px;
  }

  .sliderWrapper {
    width: 90%;
  }

  .companyCard img {
    width: 6rem;
    height: 6rem;
  }
}
