.priceSection h2 {
  font-family: "Inter", sans-serif !important ;
}

.ourPackageContainer {
  padding: 2rem 2rem;
  background-color: #fcfcfc;
  margin-bottom: 2rem;
}

.ourPackageUpperSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rb-title {
  margin-bottom: 0;
}

.paraText {
  font-size: 17px;
  line-height: 0.6;
  text-align: center;
  margin-top: 0.5rem;
  color: #687276;
}

.midNavButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  flex-wrap: wrap;
  max-width: 80%;
  margin-top: 2.5rem;
}

.navBtn {
  padding: 0.5rem 1rem;
  border: 1px solid #6897fc;
  background-color: white;
  color: #000000;
  border-radius: 20px;
  cursor: pointer;
  /* font-weight: bold; */
  transition: background 0.3s, color 0.3s;
  width: 13rem;
  font-size: 15px;
}

.navBtn.active {
  background-color: #d9ede6;
  color: #0e408e;
  border: none;
}
.navBtn:hover {
  background-color: #d9ede6;
  color: #003588;
}

.ourPackageCardSection {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 4rem;
  /* background-color: red; */
}

.packageCard {
  width: 14rem;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0 12px 15px #cbcbcb;
  /* text-align: center; */
  background-color: white;
  transition: transform 0.5s ease;
}
.packageCard:hover {
  box-shadow: 0 16px 15px #bbbbbb;
  transform: scale(1.01);
}

.cornerImage {
  display: flex;
  justify-content: space-between;
  transform: translateY(-45px);
  margin-bottom: 0.5rem;
  align-items: center;
}

.cornerImage img {
  width: 5.5rem;
  transform: translate(54px, -20px);
}

.cardTitlePack {
  margin-top: -4rem;
  min-height: 63px;
}

.testAndComp p {
  background-color: #d9ede6;
  width: fit-content;
  padding: 3px 14px;
  border-radius: 15px;
  font-size: 13px;
  height: 2rem;
  display: flex;
  align-items: center;
}

.cardsMiddleSec {
  line-height: 0px;
}

.cardLowerSec {
  display: flex;
  justify-content: space-between;
}

.cardLowerSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardLowerSec button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  background-color: #01cab8;
  border: none;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.cardLowerSec button:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.addticartBtn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* ========================================================================================================= */

@media (max-width: 1200px) {
  .cornerImage img {
    width: 3.5rem !important;
    transform: translate(40px, 0px);
  }

  .cardsMiddleSec p {
    line-height: 1;
    margin: 0;
    font-size: 13px;
  }

  .cardsMiddleSec h4 {
    font-size: 1.1rem;
  }

  .cardTitlePack {
    height: 88px;
  }

  .cardTitlePack h2 {
    font-size: 1.3rem;
  }
  .priceSection h2 {
    margin: 1rem 0;
  }

  .paraText {
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
  }

  .ourPackageContainer {
    padding: 1.1rem;
  }

  .navBtn {
    font-size: 14px;
    padding: 0.4rem 0.8rem;
    width: 11rem;
  }

  .ourPackageCardSection {
    gap: 1.5rem;
    margin-top: 3rem;
  }

  .packageCard {
    width: 10rem;
    padding: 1.3rem;
  }

  .testAndComp p {
    font-size: 11px;
    margin: 0;
  }

  .cardLowerSec button {
    font-size: 14px;
    padding: 8px;
  }
}

/* ========================================================================================================= */

@media (max-width: 768px) {
  .ourPackageContainer {
    margin-bottom: 1.5rem;
  }
  .textParaSection {
    margin-top: -0.5rem;
  }
  .ourPackageCardSection {
    margin-top: 3rem;
  }

  .ourPackageUpperSection {
    padding: 0.5rem;
  }
  .ourPackageContainer {
    padding: 1rem;
  }

  .packageCard {
    margin-bottom: 1rem;
    width: 12rem;
  }
  .testAndComp p {
    font-size: 11px;
  }

  .cardsMiddleSec {
    font-size: 15px;
  }

  .paraText {
    font-size: 13px;
    line-height: 1;
    width: 100%;
  }

  .midNavButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    margin-top: 1rem;
  }

  .navBtn {
    width: 100%;
    font-size: 11px;
    padding: 0.5rem 0.8rem;
  }
}
