.health-section {
  position: relative;
  background-color: white;
  padding: 3rem 8rem;
  z-index: 1;
  overflow: hidden;
}

.health-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../Assets/servicesImages.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}


.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 40px;
  color: #000;
}

.section-content {
  color: #0CA798;
  line-height: 1.6;
  margin-top: 10px;
  font-size: 18px;
}



@media (max-width: 768px) {
  .health-section {
    padding: 1rem;
  }

  .section-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .section-content {
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
  }
}

/* @media (max-width: 480px) {
  .health-section {
    padding: 1.5rem 1rem;
  }

  .section-title {
    font-size: 1.3rem;
  }

  .section-content {
    font-size: 15px;
  }
} */
