.linksDieases a{
  color: #003588;
}

.TestsContainer{
    padding: 2rem 4ren;
}

.abc{
  margin-top: 0 !important;
}
.temp-title{
    max-width: 48rem !important;
    text-align: center !important;
}

.diseaseSectionExplore{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
    justify-items: center;
    padding: 2rem 4rem;
}

.cardDiseaseSection{
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* width: 10rem; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cardDiseaseSection img{
    width: 10rem;
    height: 10rem;
    /* height: auto; */
    object-fit: cover;
    border-radius: 50%;
}

.cardDiseaseSection h2{
    font-size: 1.8rem;

}

.cardDiseaseSection p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cardDiseaseSection a{
    text-decoration: none;
    font-size: 0.8rem;
}


@media (max-width: 1024px) {
  .diseaseSectionExplore {
    grid-template-columns: repeat(6, 1fr);
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .TestsContainer {
    padding: 2rem 1rem;
  }

  .pk-tag{
    width: 2rem;
  }

  .temp-title {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .diseaseSectionExplore {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .cardDiseaseSection {
    width: 8rem;
  }

  .cardDiseaseSection h2 {
    font-size: 1.2rem;
  }

  .cardDiseaseSection p {
    font-size: 0.8rem;
  }

  .cardDiseaseSection a {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .diseaseSectionExplore {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
  }

  .cardDiseaseSection {
    width: 100%;
  }

  .cardDiseaseSection h2 {
    font-size: 1rem;
  }

  .cardDiseaseSection p,
  .cardDiseaseSection a {
    font-size: 0.7rem;
  }
}
