.testimonial-container {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 40px 0;
    overflow: hidden;
}

.image-card {
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* Bigger size for center image */
.slick-center .testimonial-img {
    transform: scale(1.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.slick-list{
    padding: 4rem 0rem !important;
}


@media (max-width: 768px) {
    .rb-title{
        text-align: center;
    }
}
