.whychooseUsContainer {
  background-image: url("../../../Assets/bg4.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 4rem;
  left: 0;
  top: 0;
}

.contentArea{
  width: 50%;
}

.headingText {
  /* width: 40%; */
}

/* .paragraphStyle{
    fontSize: '1rem';
    marginBottom: '1.5rem';
    lineHeight: '1.6';
  }; */


.paragraphStyle {
  color: #515151;
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 1.6;
}

.bulletStyle{
  color: #0FB7A4;
}

/* const listStyle = {
    listStyle: 'none',
    paddingLeft: 0,
    marginBottom: '2rem',
  }; */
.listStyle {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
}

/* const listItemStyle = {
    marginBottom: '0.75rem',
    display: 'flex',
    alignItems: 'flex-start',
  }; */

.listItemStyle {
  margin-bottom: 1.3rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

/* const paragraphStyle = {
    color: 'purple',
    marginRight: '0.5rem',
    fontWeight: 'bold',
  }; */


/* const buttonStyle = {
    padding: '0.6rem 1.5rem',
    border: '2px solid #333',
    backgroundColor: '#fff',
    color: '#333',
    borderRadius: '6px',
    cursor: 'pointer',
    fontWeight: '600',
  }; */

/* .questionRow {
  display: flex;
  gap: 15px;
  margin: 1.5rem 0rem;
} */

/* .iconCircle {
  width: 35px;
  height: 35px;
  background-color: #b5ebfe;
  color: rgb(24, 0, 146);
  border-radius: 50%;
  font-size: 28px;
  font-weight: bold;
  flex-shrink: 0;
  cursor: pointer;
  line-height: 36px;
  text-align: center;
} */

/* .questionText {
  margin: 0;
  font-size: 1.5rem;
  color: #000000;
} */

/* .answerText {
  width: 50%;
  font-size: 15px;
  transform: translateX(60px);
} */

@media (max-width: 768px) {
  .whychooseUsContainer {
    padding: 2rem 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headingText {
    width: 100%;
  }

  .answerText {
    width: 75%;
    font-size: 15px;
  }

  .questionText {
    font-size: 1rem;
  }

  .iconCircle {
    width: 25px;
    height: 25px;
    line-height: 26px;
  }
}
