.whychooseUsContainer {
  background-image: url("../../../Assets/bg4.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 4rem;
  left: 0;
  top: 0;
}

.contentArea{
  width: 50%;
}


.paragraphStyle {
  color: #515151;
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 1.6;
}

.bulletStyle{
  color: #0FB7A4;
}


.listStyle {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
}

.listItemStyle {
  margin-bottom: 1.3rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}



@media (max-width: 1200px) {
  .whychooseUsContainer {
    padding: 2rem;
  }

  .paragraphStyle {
    font-size: 15px; /* from 17px */
  }

  .listItemStyle {
    font-size: 14px; /* assuming normal paragraph text */
  }

  .headingText {
    font-size: 40px; /* from 48px, if any heading uses this class */
  }

  .answerText {
    font-size: 14px; /* from 15px */
  }

  .questionText {
    font-size: 1.3rem; /* from 2rem */
  }
}





@media (max-width: 768px) {
  .whychooseUsContainer {
    padding: 2rem 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headingText {
    width: 100%;
  }

  .answerText {
    width: 75%;
    font-size: 15px;
  }

  .questionText {
    font-size: 1rem;
  }

  .iconCircle {
    width: 25px;
    height: 25px;
    line-height: 26px;
  }
}
