.pulmonologybgSection{
    background-image: url('../../Assets/pulmonologybg.png') !important;
}

.gastroenterologyBgSection{
    background-image: url('../../Assets/gastrology.jpg.png') !important;
}

.physiotherapyBGSection{
    background-image: url('../../Assets/pt4.png') !important;
}

.OphthalmologyBGSection{
    background-image: url('../../Assets/om5.png') !important;
}

.homecareBGSection{
    background-image: url('../../Assets/Homecare.png') !important;
}

.dermatologyBGSection{
    background-image: url('../../Assets/Dermatology.png') !important;
}

.dialysisBgSection{
    background-image: url('../../Assets/ds5.png') !important;
}

.dentalBGSection{
    background-image: url('../../Assets/dn5.png') !important;
}

.neurologyBGSection{
    background-image: url('../../Assets/serviceimg2.jpg') !important;
}

.radiologyBGSection{
    background-image: url('../../Assets/rl5.png') !important;
}