@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", "Merriweather", "Noto Serif", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rb-title {
  font-size: 48px;
  font-weight: 100;
  margin: 1rem 0rem;
  color: #001a26;
  /* line-height: 1.2; */
  margin-bottom: 2rem;
}

/* #003588; */

.rb-headingTag {
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  background-color: #b9ecfe;
  padding: 0.4rem 1.5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 0;
}

.containers {
  width: 80%;
  margin: auto;
  padding: 4rem;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

strong,
li,
p {
  font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
  .rb-title {
    font-size: 2rem;
  }
}

.rbdButton {
  position: relative;
  padding: 14px 16px;
  background-color: #0fb7a4;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.rbdButton::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 50%;
  background: #0b9a8a;
  border-radius: 50px;
  z-index: 0; /* Behind the text */
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.rbdButton:hover::after {
  width: 100%;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.rbdButton:hover {
  transform: translateY(-3px);
}

.btn-text {
  position: relative;
  z-index: 2;
}




/* - - - - - animations - - - - -  */
.fade-left,
.fade-right,
.fade-up,
.fade-down {
  opacity: 0;
  transition: all 0.7s ease;
}

.fade-left {
  transform: translateX(-40px);
}
.fade-right {
  transform: translateX(40px);
}
.fade-up {
  transform: translateY(40px);
}
.fade-down {
  transform: translateY(-40px);
}

.animate {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
